<div class="card" style="width: 18rem;">
  <%= image_tag @badge.img_name, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title">
      <%= @badge.title %>
    </h5>
    <p class="card-text">
      <%= @badge.description %>
    </p>
  </div>
</div>


<div><%= link_to t('.back'), badges_path %></div>