<footer style="margin-top: 30px; padding: 15px; background: #777; color: #fff;">
  <div class="wrapper" style="display: flex; justify-content: space-between">
    <div>
      <%= current_year %> 
      <%= github_url t('.author'), 'https://github.com/nikitoooid/test-guru/' %>
    </div>
    <div><a href="https://thinknetica.com/"><%= t('.credits') %></a></div>
  </div>
</footer>